<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Tracker Home</title>
</head>
<body>
<p>
<form action="/add-game" method="post">
    <input type="text" placeholder="Game Name" name="gameName" /><br />
    <select name="gameGenre">
        <option selected disabled>Genre</option>
        <option value="adventure">Adventure</option>
        <option value="rpg">RPG</option>
        <option value="strategy">Strategy</option>
        <option value="shooter">Shooter</option>
        <option value="classic">Classic</option>
    </select>
    <select name="gamePlatform">
        <option selected disabled>Platform</option>
        <option value="world">The actual world. In real life.</option>
        <option value="pc">PC</option>
        <option value="ps4">PS4</option>
        <option value="xbone">Xbox One</option>
        <option value="wiiu">Wii U</option>
    </select>
    <input type="number" placeholder="Release Year" name="gameYear" /><br />
    <button type="submit">Add Game</button><br />
</form>
</p>

<ol>
{{#games}}
    <li>{{name}} - {{platform}} - {{genre}} - {{releaseYear}}</li>
{{/games}}
</ol>
</body>
</html>